{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jasmine": true,
        "phantomjs": true
    },
    "extends": "airbnb",
    "globals": {
        "_": true,
        "reqwest": true,
        "sinon": true
    },
    "installedESLint": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "array-bracket-spacing": [
            2,
            "never"
        ],
        "comma-dangle": 0,
        "computed-property-spacing": [
            2,
            "never"
        ],
        "default-case": 1,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "jsx-a11y/aria-role": 0,
        "no-fallthrough": 0,
        "no-return-assign": 0,
        "no-use-before-define": 0,
        "one-var": 0,
        "one-var-declaration-per-line": 0,
        "quotes": [
            1,
            "double"
        ],
        "react/jsx-no-bind": 0,
        "react/jsx-uses-vars": 2,
        "react/jsx-filename-extension": 0,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0,
        "react/sort-comp": 0,
    }
}
